%h1 Navigation
%ol
  %li= link_to 'Suche', :controller => 'searches', :action => :index
  %li= link_to 'Rezepte', :controller => 'recipes', :action => :index
  %li= link_to 'Mitglieder', :controller => 'members', :action => :index